<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Settings Page</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(function(){
              $("#nav-placeholder").load("/navbar/navbar.html");
            });
        </script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <script src="https://unpkg.com/vue@next"></script>

        <style>
            
        </style>
        
        
        <link rel="stylesheet" href="employee_settings.css">

    </head>
    <body>
        <div class="general-container">
            <div id="nav-placeholder"></div>

            <div id="app">

                <!-- <p>{{title}}   {{age}}</p> 

                <button v-on:click = "age++">Increase age</button>

                <div @click = "changeTitle" > change title</div>

                <p v-if="showBox" v-on:click = "showBox = false">Görünür</p>-->


                <!-- <ul> 
                    <li class = "empList" v-for= "employee in employees">
                        <p class="listElement">{{employee.name}}</p>
                        <p class="listElement">{{employee.tel_no}}</p>
                        <p class="listElement">{{employee.e_mail}}</p>
                        <p class="listElement">{{employee.adress}}</p>
                        <p class="listElement">{{employee.password}}</p>
                    </li>
                </ul> -->

                <div class="table-responsive">
                    <h3 class="p-3 text-center">Tüm Elemanlarınız Aşağıda Listelenmiştir</h3>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Tel_no</th>
                                <th>Email</th>
                                <th>Adres</th>
                                <th>Şifre</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="employee in employees" >
                                <td class="listElement" v-if = "employee.isExist"> <p class = "empText"></p>{{employee.name}}</td>
                                <td class="listElement" v-if = "employee.isExist"> <p class = "empText"></p>{{employee.tel_no}}</p></td>
                                <td class="listElement" v-if = "employee.isExist"> <p class = "empText"></p>{{employee.e_mail}}</p></td>
                                <td class="listElement" v-if = "employee.isExist"> <p class = "empText"></p>{{employee.adress}}</p></td>
                                <td class="listElement" v-if = "employee.isExist"> <p class = "empText"></p>{{employee.password}}</p></td>
                                <td class="listElement" v-if = "employee.isExist"> 
                                    <p class = "empText"></p>
                                    <button class = "btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Edit</button> 
                                    <button class = "btn btn-danger" v-on:click = "removeRow(employee)">Remove</button> 
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <button class = "btn btn-primary">Add Employee</button>
                </div>




                <!-- Moruk burası Pop-up tarafı -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eleman bilgilerini düzenle</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        <div class="modal-body">
                            <form>
                                <div class="for-name">
                                    <label for="usr_name">İsim: </label> 
                                    <input id = "usr_name" placeholder="Yeni İsim" type="text">             
                                </div>
                    
                                <div class="for-pwd">
                                    <label for="usr_curr_pwd">Admin Şifresi (onay için):</label>
                                    <input id="usr_curr_pwd" type="password" placeholder="Admin Şifresi" />
                                    <i class="bi bi-eye-slash"  id="togglePassword"></i>
                                    <p></p>
                                    <label for="usr_newpwd">Yeni Şifre:</label>
                                    <input id="usr_newpwd" type="password" placeholder="Yeni Şifre (Eleman)" />
                                    <i class="bi bi-eye-slash"  id="togglePassword2"></i>
                                    <p></p>
                                    <label for="usr_pwd_check">Tekrar Yeni Şifre:</label>
                                    <input id="usr_pwd_check" type="password" placeholder="Tekrar Yeni Şifre (Eleman)" />
                                    <i class="bi bi-eye-slash"  id="togglePassword3"></i>
                    
                                </div>
                    
                                <div class = "for-email">
                                    <label for="usr_email">Email:</label>
                                    <input type="text" id="usr_email" placeholder="Yeni Email">
                                </div>
                                
                                <div class = "for-adress">
                                    <label for="usr_adress">Adres:</label>
                                    <input type="text" id="usr_adress" placeholder="Yeni Adres">
                                </div>
                    
                                <div class = "for-phone">
                                    <label for="usr_phone">Tel. Numarası:</label>
                                    <input type="text" id="usr_phone" placeholder="Yeni Numara +90 " maxlength="10">
                                </div>
                            </form>
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pop-up sonu -->

                
               
                
                 
            </div>

            

        </div>

        
        
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="vue.js"></script>
        
    </body>
</html>