.general-container h {
    font-family: arial, sans-serif;
    font-size: 42px;
    color: rgb(6, 6, 37);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #353434;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #cecbcb;
}


button[type= "button1"] {
    height: fit-content;
    font-size: 1.1em;
    margin-left: 45em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.1em 0;
    width: 15%;
    border: none;
    font-weight: bold;
    border-radius: 0.6em;
    cursor: pointer;
    background-color: rgb(111, 109, 116);
}

button[type= "button2"] {
    margin: 0.1em 0.3em;
    height: fit-content;
    font-size: 1.1em;
    padding: 0.1em 0;
    width: auto;
    border: none;
    font-weight: bold;
    border-radius: 0.6em;
    cursor: pointer;
    background-color: rgb(201, 156, 105);
    padding-right: 1em;
    padding-left: 1em;
}

button[type= "button3"] {
    margin: 0.1em 0.3em;
    height: fit-content;
    font-size: 1.1em;
    padding: 0.1em 0;
    width: auto;
    border: none;
    font-weight: bold;
    border-radius: 0.6em;
    cursor: pointer;
    background-color: rgb(167, 77, 77);
    padding-right: 1em;
    padding-left: 1em;
}


table[type = "dynamic_table"] {
    margin-top: 2em;
}






@media (max-width:1000px) {
    button[type= "button1"] {
        margin-left: 5em;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 15%;
    }

    button {
        padding-right: 1em;
        padding-left: 1em;
    }
    
    button[type= "button2"] {
        padding-right: 1em;
        padding-left: 1em;
    }
}