form{
    padding: 20% ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
label{
    width: 100px;
    display: inline-block;
    text-align: center;
}
.for-pwd label , input{
    vertical-align: middle;
}
.for-pwd{
    border-style: groove;
}
.bi-eye-slash{
    margin-left: -20px;
}
.bi-eye{
    margin-left: -20px;
}